*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.tittle{
	text-align: center;
	padding-bottom: 70px;
}
.tittle p{
	margin: auto;
	font-size: 30px;
	color: #009688;
	font-weight: bold;	
	position: relative;
	z-index: 1;
	display: inline-block;
}
.tittle p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;

}
.education-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.education-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px #00968814;
	cursor: pointer;
	transition: transform .5s;
}
.education-col p{
	font-size: 14px;
}
.user{
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.user img{
	width: 250px;
	align-items: center;
	border-radius: 3px;
}
.education-col:hover{
	transform: translateY(-12px);
}